.Nelson {
  display: grid;
  grid-gap: 1em;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.nelson-info{
  padding-top: 15%;
  margin-left: 35%;
 
}

.nelson-header {
  text-align: center;
  padding-top: 5%;
 
}

.nelson-image{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 25px;
}


.nelson-description{
  display: grid;
  text-align: center;
  grid-column: 2 / 3;
  margin-top: 15%;
  font-size: 20px;
  margin-right: 45%
}

@media (min-width:650px){
  .nelson-info{
   
  }
  
  .nelson-header {
   
   
  }
  
  
  .nelson-image {
   
   
  }
  
  .nelson-description{
   padding-top: 7em;
   padding-left: 1em;
   text-align: left;
  }
}
